<?xml version="1.0" encoding="UTF-8"?>
<Language>
  <Message key="AddOK">添加成功</Message>
  <Message key="UpdateOK">修改成功</Message>
  <Message key="DeleteOK">删除成功</Message>
  <Message key="SafeCodeError">验证码错误</Message>
  <Message key="LoginFaild">登录失败</Message>
  <Message key="OldPasswordError">旧密码错误</Message>
  <Message key="IDCardOverflow">同一身份证最多只能有$MaxUserNum个帐号</Message>
  <Message key="NoIntroducerID">推荐人帐号不存在！</Message>
  <Message key="OperatorPointLess">报单人积分不够！</Message>
  <Message key="NoReportPower">请先成为报单中心！</Message>
  <Message key="BonusEmptyTips">分红金额必须大于0</Message>
  <Message key="UserNameEmptyTips">用户名不能为空！</Message>
  <Message key="PasswordEmptyTips">密码不能为空！</Message>
  <Message key="PasswordNoEqualTips">密码不能为空！</Message>
  <Message key="GroupEmptyTips">请选择会员组</Message>
  <Message key="PointEmptyTips">请输入积分</Message>
  <Message key="UserNameExistTips">用户名已存在！</Message>
  <Message key="NoUserNameRuleTips">用户名为5-16位[字符、数字、_.@]</Message>
  <Message key="NoPasswordRuleTips">密码为6-16位字母和数字的组合！</Message>
  <Message key="BonusCompleteTips">分红完成</Message>
  <Message key="TeamMoneyCompleteTips">团队奖发放完成</Message>
  <Message key="AccountMoneyLessTips">帐户剩余积分不足</Message>
  <Message key="NoTransferMoneyRuleTips">转帐积分为$Money分的整数倍</Message>
  <Message key="TransferCompleteTips">转帐成功</Message>
  <Message key="TotalScoreLessTips">系统总积分不满足扣除本次积分</Message>
  <Message key="TransferAccountEqualTips">不能转帐给自己</Message>
  <Message key="TransferAccountNoExistTips">不能转帐给自己</Message>
</Language>