<?xml version="1.0" encoding="UTF-8"?>
<Config>
  <Title Value="a" />
  <Copyright Value="" />
  <Author Value="XueFu" />
  <Keywords Value="" />
  <Description Value="" />
  <PopCloseRefresh Value="1" />
  <SaveAutoClosePop Value="0" />
  <SecureKey Value="634544944345590417" />
  <CodeType Value="1" />
  <CodeLength Value="4" />
  <CodeDot Value="26" />
  <PasswordType Value="2" />
  <AdminCookies Value="XueFu_Admin" />
  <UserCookies Value="XueFu_User" />
  <NamePrefix Value="ctl00$ContentPlaceHolder$" />
  <IDPrefix Value="ctl00_ContentPlaceHolder_" />
  <MaxUserNum Value="4" />
  <TotalScore Value="85000" />
  <PerUserScore Value="5000" />
  <TransferBase Value="500" />
  <TransferMultiple Value="1" />
  <IntroduceMoney Value="100" />
  <ReportMoney Value="100" />
  <TeamPercent Value="0.1" />
  <MaxBonus Value="10000" />
  <LevelNum Value="5" />
  <PowerKey Value="XueFu_" />
</Config>